body {
    margin: 0;
    font-family: arial;
}

#app {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    background-color: #333;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    padding: 10px;
    margin-left: 20px;
}

.nav li:hover {
    background-color: #444;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #333;
    color: #fff;
}

.footer a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer a {
    margin-left: 20px;
}

.footer a img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.logo {
    display: inline-block;
    width: 230px;
    height: 100px;
    object-fit: contain;
}

.text-center {
    text-align: center;
}

.texto-fino {
    font-weight: 400;
}

.create-tasks {
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
}

button,
input,
textarea {
    border: none;
    outline: none;
}

input,
textarea {
    display: block;
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #aaa;
}

.btn-create {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.btn-create:hover,
.btn-edit:hover {
    background-color: #444;
}

.tasks-app {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 30px;
}

.find-tasks {
    width: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tasks__article {
    width: 300px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #dddd;
    margin-bottom: 60px;
    margin-left: 25px;
}

.find-tasks__article {
    width: 300px;
    padding: 5px 20px;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid #dddd;
    margin-bottom: 60px;
}

.tasks__article h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.find {
    width: 500px;
    margin: 50px auto;
}

.btn-delete,
.btn-edit {
    padding: 7px;
    margin: 5px;
    color: #fff;
}

.btn-delete {
    background-color: #f33;
}

.btn-delete:hover {
    background-color: #f44;
}

.btn-edit {
    background-color: #333;
}

.tasks-image {
    width: 100%;
    object-fit: cover;
    height: 200px;
}